@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fafafa;
    --foreground: #111111;
    --background-dots: #17171733;
  }

  .dark {
    --background: #111111;
    /*--background: #16191d;*/
    --foreground: #fafafa;
    --background-dots: #ededed33;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    transition: all 0.3s;
  }
}
