@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ededed;
    --foreground: #111111;
    --background-dots: #17171733;
    --a: rgba(39, 76, 185, 0.23);
  }

  .dark {
    --background: #111111;
    --foreground: #ededed;
    --background-dots: #ededed33;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    transition: all 0.3s;
  }
}
